// Variables globales
@theme__primary-color: #3498db;
@theme__link-color: #2ecc71;

@personal-background-light: #FFFFFF99;
@personal-background-dark: #09090A99;

@personal-text-light: #09090A;
@personal-text-dark: #FFFFFF99;

// Estilos globales
body {
    font-family: 'Inter', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

// Importaciones de otros archivos LESS
@import '_typography.less'; // Fuentes personalizadas
@import '_header.less';     // Estilos del header (renombrado)
@import '_footer.less';     // Estilos del footer (renombrado)
